@import '../../variables/variables';
.slide {
  position: relative;
  .container{
    margin-top: 18px;
    width: 100%;
    display: flex;
    height: 88vh;
    .content {
      // position: absolute;
      // left: 10%;
      // top: 50%;
      // transform: translateY(-50%);
      // z-index: 2;
      width: 50%;
      color: $white;
      margin-top: 30px;
    }
    .title h1 {
      font-weight: 700;
      color: black;
      font-size: 72px;
    }
    .descript p {
      font-size: 1.4rem;
      display: inline-block;
      color: black;
    }
    .btn-slide {
      margin-top: 1rem;
    }
    a.btn-main {
      background-color: $primary;
      border: 1px solid $primary;
      color: $white;
      padding: 0.8rem;
      border-radius: 4px;
      text-transform: uppercase;
      font-weight: 500;
      margin-right: 1rem;
      &.bg-transparent {
        background-color: ($main, 0.5);
        border: 1px solid $primary;
        color: $primary;
      }
    }
    // .content-left{
    //   width: 50%;
    //   background: rgb(166, 145, 145);
      // .circle1{
      //   width: 35%;
      //   // height: 60px;
      //   height: auto;
      //   border-radius: 50%;
      //   background: #000;
      // }
      // .circle1::after{
      //   content: '';
      //   padding-bottom: 100%;
      //   display: block;
      // }
    // }
    .content-left{
      width: 50%;
      position: relative;
      .circle1{
        position: absolute;
        width: 17rem;
        height: 17rem;
        top: 1rem;
        border-radius: 50%;
        background: #000;
        img{
          width: 17rem;
          height: 17rem;
          border-radius: 50%;
        }
      }
      .circle2{
        position: absolute;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        left: 20rem;
        top: 0rem;
        img{
          width: 15rem;
          height: 15rem;
          border-radius: 50%;
        }
      }
      .circle3{
        position: absolute;
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
        left: 12px;
        top: 20rem;
        img{
          width: 14rem;
          height: 14rem;
          border-radius: 50%;
        }
      }
      .circle4{
        position: absolute;
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        left: 16rem;
        top: 25rem;
        img{
          width: 15rem;
          height: 15rem;
          border-radius: 50%;
        }
      }
      .circle5{
        position: absolute;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        left: 15rem;
        top: 14.5rem;
        img{
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
        }
      }
      .circle6{
        position: absolute;
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        left: 29rem;
        top: 16rem;
        img{
          width: 12rem;
          height: 12rem;
          border-radius: 50%;
        }
      }
    }
  }
}












.service-info {
  background-color: $bg-gray;
  .content-center .row{
    width: 100%;
  }
  .col-6{
    margin-bottom: 1.5rem;
  }
  .service {
    padding: 2rem 1rem;
    background: $white;
    border-radius: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
    justify-content: center;
   
    .image{
      width: 80px;
      margin: 0 auto;
      padding-bottom: .5rem;
    }
  }
  
  
}
.key-point{
  margin-bottom: 1rem;
  .item{
    display:flex;
    margin-bottom: 1rem;
    .content{
      width: calc(100% - 80px);
      padding-left: 1rem;
      p{
        margin: 0;
      }
    }
  }
}

.blog{
  position: relative;
  .image{
    border-radius: 10px;
    overflow: hidden;
  }
  .title h4{
    font-size: 1.2rem;
  }
  .content{
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
    background: $white;
    text-align: center;
    position: relative;
    border-radius: 7px;
    box-shadow: 0px 4px 60px rgb(40 55 79 / 6%);
    -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;

  }
  .content{
    z-index: 9;
    margin-top: -3rem;
  }
  .content-hover{
    width: 90%;
    margin: 0 auto;
    padding: 1.2rem 1rem;
    background: $white;
    text-align: center;
    position: absolute;
    border-radius: 7px;
    left: 50%;
    bottom: -5rem;
    transform: translateX(-50%);
    box-shadow: 0px 4px 60px rgb(40 55 79 / 6%);
    -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
      opacity: 0;
       visibility: hidden;
      margin-top: -5rem;
      z-index: 10;
  }
  &:hover{
    .content{
      opacity: 0;
      visibility: hidden;
    }
    .content-hover{
      opacity: 1;
      visibility: visible;
      bottom: 0;
      
    }
  }
}
section.contact{
  background-color: $bg-gray;
  background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
  .contact-form{
    margin-bottom: -10rem;
    .head{
      color: $white;
      .title h2{
        color: $white;
      }
    }
    padding: 3rem;
    background-color: $primary;
    border-radius: 10px;
    .query-form{
   
      input.form-control,  textarea.form-control{
        background-color: transparent;
        border: 1px solid #ffffff80;
        padding: 1rem;
        border-radius: 10px;
        color: $white;
        &::placeholder{
          color: $white;
        }
      }
      
    }
  }
  
}
.rc-anchor-light{
  background: #ffffff;
  .rc-anchor-light{
    border: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .service-info .service{
    padding: 2rem .5rem;
  }
  .slide {
    .container{
      height: 73vh;
      .content{
        .title h1 {
          font-weight: 700;
          color: black;
          font-size: 55px;
        }
        .descript p {
          font-size: 1rem;
          margin-bottom: 0;
        }
        a.btn-main {
          padding: 0.5rem;
          font-size: 0.8rem;
          margin-top: 0;
        }
      }
      .content-left{
        position: relative;
        // background: rgb(230, 80, 128);
        .circle1{
          position: absolute;
          width: 13rem;
          height: 13rem;
          top: 1rem;
          border-radius: 50%;
          img{
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
          }
        }
        .circle2{
          position: absolute;
          width: 11rem;
          height: 11rem;
          border-radius: 50%;
          left: 16rem;
          top: 0rem;
          img{
            width: 11rem;
            height: 11rem;
            border-radius: 50%;
          }
        }
        .circle3{
          position: absolute;
          width: 9rem;
          height: 9rem;
          border-radius: 50%;
          left: 12px;
          top: 16rem;
          img{
            width: 9rem;
            height: 9rem;
            border-radius: 50%;
          }
        }
        .circle4{
          position: absolute;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          left: 9rem;
          top: 23rem;
          img{
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
          }
        }
        .circle5{
          position: absolute;
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          left: 11rem;
          top: 11rem;
          img{
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
          }
        }
        .circle6{
          position: absolute;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          left: 19.5rem;
          top: 15rem;
          img{
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
          }
        }
        
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .slide {
    .container{
      height: 73vh;
      .content{
        .title h1 {
          font-weight: 700;
          color: black;
          font-size: 55px;
        }
        .descript p {
          font-size: 1rem;
          margin-bottom: 0;
        }
        a.btn-main {
          padding: 0.5rem;
          font-size: 0.8rem;
          margin-top: 0;
        }
      }
      .content-left{
        position: relative;
        // background: rgb(91, 127, 189);
        .circle1{
          position: absolute;
          width: 13rem;
          height: 13rem;
          top: 1rem;
          border-radius: 50%;
          img{
            width: 13rem;
            height: 13rem;
            border-radius: 50%;
          }
        }
        .circle2{
          position: absolute;
          width: 11rem;
          height: 11rem;
          border-radius: 50%;
          left: 16rem;
          top: 0rem;
          img{
            width: 11rem;
            height: 11rem;
            border-radius: 50%;
          }
        }
        .circle3{
          position: absolute;
          width: 9rem;
          height: 9rem;
          border-radius: 50%;
          left: 12px;
          top: 16rem;
          img{
            width: 9rem;
            height: 9rem;
            border-radius: 50%;
          }
        }
        .circle4{
          position: absolute;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          left: 9rem;
          top: 23rem;
          img{
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
          }
        }
        .circle5{
          position: absolute;
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          left: 11rem;
          top: 12rem;
          img{
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
          }
        }
        .circle6{
          position: absolute;
          width: 10rem;
          height: 10rem;
          border-radius: 50%;
          left: 19rem;
          top: 16rem;
          img{
            width: 10rem;
            height: 10rem;
            border-radius: 50%;
          }
        }
        
      }
    }
  }
}
@media only screen and (max-width: 992px) {
  section.contact .contact-form {
    margin-bottom: 0;
    padding: 1.5rem;
  }
  .slide{
    .container{
      height: 60vh;
      // background: rgb(230, 158, 158);
      .content{
        .title h1 {
          font-weight: 700;
          color: black;
          font-size: 40px;
        }
        .descript p {
          font-size: 16px;
          margin-bottom: 0;
        }
        a.btn-main {
          padding: 0.5rem;
          font-size: 0.7rem;
          margin-top: 0px;
        }
      }
      .content-left{
        position: relative;
        .circle1{
          position: absolute;
          width: 9.5rem;
          height: 9.5rem;
          top: 1rem;
          border-radius: 50%;
          img{
            width: 9.5rem;
            height: 9.5rem;
            border-radius: 50%;
          }
        }
        .circle2{
          position: absolute;
          width: 8rem;
          height: 8rem;
          border-radius: 50%;
          left: 12rem;
          top: 0rem;
          img{
            width: 8rem;
            height: 8rem;
            border-radius: 50%;
          }
        }
        .circle3{
          position: absolute;
          width:7rem;
          height:7rem;
          border-radius: 50%;
          left: 12px;
          top: 12rem;
          img{
            width:7rem;
            height:7rem;
            border-radius: 50%;
          }
        }
        .circle4{
          position: absolute;
          width: 6.9rem;
          height: 6.9rem;
          border-radius: 50%;
          left: 8rem;
          top: 17.5rem;
          img{
            width: 6.9rem;
            height: 6.9rem;
            border-radius: 50%;
          }
        }
        .circle5{
          position: absolute;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          left: 8.5rem;
          top: 9.5rem;
          img{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
          }
        }
        .circle6{
          position: absolute;
          width: 7.2rem;
          height: 7.2rem;
          border-radius: 50%;
          left: 14.5rem;
          top: 11rem;
          img{
            width: 7.2rem;
            height: 7.2rem;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .slide{
    .container{
      height: 48vh;
      .content{
        .title h1 {
          font-weight: 700;
          color: black;
          font-size: 30px;
        }
        .descript p {
          font-size: 16px;
          margin-bottom: 0;
        }
        a.btn-main {
          padding: 0.4rem;
          font-size: 0.5rem;
          margin-top: 0px;
        }
      }
      .content-left{
        position: relative;
        // background: purple;
        .circle1{
          position: absolute;
          width: 7.5rem;
          height: 7.5rem;
          top: 1rem;
          border-radius: 50%;
          img{
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 50%;
          }
        }
        .circle2{
          position: absolute;
          width: 6.5rem;
          height: 6.5rem;
          border-radius: 50%;
          left: 9rem;
          top: 0rem;
          img{
            width: 6.5rem;
            height: 6.5rem;
            border-radius: 50%;
          }
        }
        .circle3{
          position: absolute;
          width:5.4rem;
          height:5.4rem;
          border-radius: 50%;
          left: 10px;
          top: 9.5rem;
          img{
            width:5.4rem;
            height:5.4rem;
            border-radius: 50%;
          }
        }
        .circle4{
          position: absolute;
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          left: 6rem;
          top: 13rem;
          img{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
          }
        }
        .circle5{
          position: absolute;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          left: 7rem;
          top: 7.5rem;
          img{
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
          }
        }
        .circle6{
          position: absolute;
          width: 5rem;
          height: 5rem;
          border-radius: 50%;
          left: 10.9rem;
          top: 9rem;
          img{
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
          }
        }
        
      }
    }
  }
  .service-info .service{
    padding: 1rem .5rem;
  }
}
@media only screen and (max-width: 576px) {
  // .slide {
  //   .content{
  //     text-align: center;
  //     left: 50%;
  //   transform: translate(-50% ,-50%);
  //   .descript {
  //     padding: 0.5rem 0;
  // }
  //   }
  //   a.btn-main{
  //     padding: .3rem .5rem;
  //   }
  // }

  // .slide{
  //   .container{
  //     height: 69vh;
  //     position: relative;
  //     .content{
  //       position: absolute;
  //       top: 19rem;
  //       width: 100%;
  //       margin-left: 2rem;
  //       // background: #000;
  //       .title h1 {
  //         width: 100%;
  //         font-weight: 700;
  //         color: black;
  //         font-size: 18px;
  //       }
  //       .descript p {
  //         font-size: 14px;
  //         margin-bottom: 0;
  //       }
  //       a.btn-main {
  //         padding: 0.2rem;
  //         font-size: 0.48rem;
  //         margin-top: 0px;
  //       }
  //     }
  //     .content-left{
  //       // position: absolute;
  //       // display: none;
  //       width: 90%;
  //       position: relative;
  //       left: 98px;
  //       // background: green;
  //       // top: 12rem;
  //       .circle1{
  //         position: absolute;
  //         width: 7.5rem;
  //         height: 7.5rem;
  //         top: 1rem;
  //         border-radius: 50%;
  //         img{
  //           width: 7.5rem;
  //           height: 7.5rem;
  //           border-radius: 50%;
  //         }
  //       }
  //       .circle2{
  //         position: absolute;
  //         width: 7.5rem;
  //         height: 7.5rem;
  //         border-radius: 50%;
  //         left: 9rem;
  //         top: 0rem;
  //         img{
  //           width: 7.5rem;
  //           height: 7.5rem;
  //           border-radius: 50%;
  //         }
  //       }
  //       .circle3{
  //         position: absolute;
  //         width:7.5rem;
  //         height:7.5rem;
  //         border-radius: 50%;
  //         left: 10px;
  //         top: 9.5rem;
  //         img{
  //           width:7.5rem;
  //           height:7.5rem;
  //           border-radius: 50%;
  //         }
  //       }
  //       .circle4{
  //         position: absolute;
  //         width: 7.5rem;
  //         height: 7.5rem;
  //         border-radius: 50%;
  //         left: 6rem;
  //         top: 13rem;
  //         img{
  //           width: 7.5rem;
  //           height: 7.5rem;
  //           border-radius: 50%;
  //         }
  //       }
  //       .circle5{
  //         position: absolute;
  //         width: 3.5rem;
  //         height: 3.5rem;
  //         border-radius: 50%;
  //         left: 7rem;
  //         top: 7.5rem;
  //         img{
  //           width: 3.5rem;
  //           height: 3.5rem;
  //           border-radius: 50%;
  //         }
  //       }
  //       .circle6{
  //         position: absolute;
  //         width: 7.5rem;
  //         height: 7.5rem;
  //         border-radius: 50%;
  //         left: 10.9rem;
  //         top: 9rem;
  //         img{
  //           width: 7.5rem;
  //           height: 7.5rem;
  //           border-radius: 50%;
  //         }
  //       }
        
  //     }
  //   }
  // }

  .slide{
    .container{
      height: 40vh;
      .content{
        .title h1 {
          font-weight: 700;
          color: black;
          font-size: 24px;
        }
        .descript p {
          font-size: 14px;
          margin-bottom: 0;
        }
        a.btn-main {
          padding: 0.3rem;
          font-size: 0.4rem;
          margin-top: 0px;
        }
      }
      .content-left{
        position: relative;
        // background: purple;
        .circle1{
          position: absolute;
          width: 6.8rem;
          height: 6.8rem;
          top: 1rem;
          border-radius: 50%;
          img{
            width: 6.8rem;
            height: 6.8rem;
            border-radius: 50%;
          }
        }
        .circle2{
          position: absolute;
          width: 5.8rem;
          height: 5.8rem;
          border-radius: 50%;
          left: 8.5rem;
          top: 0rem;
          img{
            width: 5.8rem;
            height: 5.8rem;
            border-radius: 50%;
          }
        }
        .circle3{
          position: absolute;
          width:5rem;
          height:5rem;
          border-radius: 50%;
          left: 9px;
          top: 9.5rem;
          img{
            width:5rem;
            height:5rem;
            border-radius: 50%;
          }
        }
        .circle4{
          position: absolute;
          width: 5.5rem;
          height: 5.5rem;
          border-radius: 50%;
          left: 6rem;
          top: 12.5rem;
          img{
            width: 5.5rem;
            height: 5.5rem;
            border-radius: 50%;
          }
        }
        .circle5{
          position: absolute;
          width: 3.5rem;
          height: 3.5rem;
          border-radius: 50%;
          left: 6rem;
          top: 7.5rem;
          img{
            width: 3.5rem;
            height: 3.5rem;
            border-radius: 50%;
          }
        }
        .circle6{
          position: absolute;
          width: 4.5rem;
          height: 4.5rem;
          border-radius: 50%;
          left: 10.5rem;
          top: 8rem;
          img{
            width: 4.5rem;
            height: 4.5rem;
            border-radius: 50%;
          }
        }
        
      }
    }
  }
  .service-info {
    .row{
      --bs-gutter-x: .5rem;
    }
    .col-6{
      margin-bottom: .5rem;
    }
    .content-center .row {
      width: initial;
      
  }
  .service {
    .image{
      width: 50px;
    }
  }
  }
   
}
@media only screen and (max-width: 480px) {
  // .slide {
  //   .content {
  //     width: 100%;
  //     padding: 0 .5rem;
  //   }
  //   .descript{
  //     padding: 0;
  //   }
  //   .btn-slide{
  //     display: none;
  //   }
  // }

  // .slide{
  //   .container{
  //     height: 38vh;
  //     .content{
  //       width: 90%;
  //       width: 99%;
  //       background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.75)), url('https://www.hortongroup.com/hs-fs/hubfs/Services%20Rework/backgrounds/websites%20and%20custom/web%20design%20background.png?width=700&height=365&name=web%20design%20background.png');
  //       background-position: center;
  //       background-repeat: no-repeat;
  //       background-size: cover;
  //       .title h1 {
  //         font-weight: 700;
  //         color:#fff;
  //         font-size: 25px;
  //         margin-top: 35px;
  //         text-align: center;

  //       }
  //       .descript p {
  //         margin-left: 25px;
  //         font-size: 13px;
  //         margin-bottom: 0;
  //         color: #fff;
  //       }
  //       a.btn-main {
  //         margin-left: 45px;
  //         padding: 0.2rem;
  //         font-size: 0.48rem;
  //         margin-top: 0px;
  //       }
  //       a.btn-2{
  //         margin-left: 3px;
  //       }
  //     }
  //     .content-left{
  //       display: none;
  //       position: relative;
  //       // background: rgb(157, 100, 74);
  //     }
  //   }
  // }




  .slide{
    .container{
      height: 84vh;
      position: relative;
      .content{
        position: absolute;
        width: 100%;
        margin-left: 2rem;
        .title h1 {
          width: 100%;
          font-weight: 700;
          color: black;
          font-size: 29px;
        }
        .descript p {
          font-size: 14px;
          margin-bottom: 0;
        }
        a.btn-main {
          padding: 0.2rem;
          font-size: 0.48rem;
          margin-top: 0px;
        }
      }
      .content-left{
        width: 90%;
        position: relative;
        margin-left: 22px;
        top: 17rem;
        .circle1{
          position: absolute;
          width: 7.5rem;
          height: 7.5rem;
          top: 1.8rem;
        
          
          border-radius: 50%;
          img{
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 50%;
          }
        }
        .circle2{
          position: absolute;
          width: 7.5rem;
          height: 7.5rem;
          border-radius: 50%;
          left: 8.9rem;
          top: 0rem;
          img{
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 50%;
          }
        }
        .circle3{
          position: absolute;
          width:7.5rem;
          height:7.5rem;
          border-radius: 50%;
          left: 0px;
          top: 11rem;
          img{
            width:7.5rem;
            height:7.5rem;
            border-radius: 50%;
          }
        }
        .circle4{
          position: absolute;
          width: 7.5rem;
          height: 7.5rem;
          border-radius: 50%;
          left: 8rem;
          top: 13.5rem;
          img{
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 50%;
          }
        }
        .circle5{
          position: absolute;
          width: 4.4rem;
          height: 4.4rem;
          border-radius: 50%;
          left: 7.5rem;
          top: 7.9rem;
          img{
            width: 4.4rem;
            height: 4.4rem;
            border-radius: 50%;
          }
        }
        .circle6{
          position: absolute;
          width: 7.5rem;
          height: 7.5rem;
          border-radius: 50%;
          left: 14rem;
          top: 7rem;
          img{
            width: 7.5rem;
            height: 7.5rem;
            border-radius: 50%;
          }
        }
        
      }
    }
  }
}
@media only screen and (max-width: 385px) {

  .slide{
    .container{
      height: 79vh;
      position: relative;
      .content{
        position: absolute;
        width: 100%;
        margin-left: 2rem;
        .title h1 {
          width: 100%;
          font-weight: 700;
          color: black;
          font-size: 29px;
        }
        .descript p {
          font-size: 14px;
          margin-bottom: 0;
        }
        a.btn-main {
          padding: 0.2rem;
          font-size: 0.48rem;
          margin-top: 0px;
        }
      }
      .content-left{
        width: 90%;
        position: relative;
        margin-left: 22px;
        top: 17rem;
        .circle1{
          position: absolute;
          width: 6rem;
          height: 6rem;
          top: 1.8rem;
        
          
          border-radius: 50%;
          img{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
          }
        }
        .circle2{
          position: absolute;
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          left: 8rem;
          top: 0rem;
          img{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
          }
        }
        .circle3{
          position: absolute;
          width:6rem;
          height:6rem;
          border-radius: 50%;
          left: 0px;
          top: 10rem;
          img{
            width:6rem;
            height:6rem;
            border-radius: 50%;
          }
        }
        .circle4{
          position: absolute;
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          left: 7rem;
          top: 13rem;
          img{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
          }
        }
        .circle5{
          position: absolute;
          width: 4.4rem;
          height: 4.4rem;
          border-radius: 50%;
          left: 6rem;
          top: 7rem;
          img{
            width: 4.4rem;
            height: 4.4rem;
            border-radius: 50%;
          }
        }
        .circle6{
          position: absolute;
          width: 6rem;
          height: 6rem;
          border-radius: 50%;
          left: 11.5rem;
          top: 7rem;
          img{
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
          }
        }
        
      }
    }
  }
}


































// .slide {
//   // position: relative;
//   .slider {
//     height: 86vh;
//     // &::after,
//     // &::before {
//     //   content: '';
//     //   width: 100%;
//     //   height: 100%;
//     //   left: 0;
//     //   top: 0;
//     //   position: absolute;
//     //   background-image: -webkit-gradient(
//     //     linear,
//     //     left top,
//     //     right top,
//     //     from($white),
//     //     to(rgba(33, 30, 59, 0))
//     //   );
//     //   background-image: linear-gradient(
//     //     90deg,
//     //     $white 0%,
//     //     rgba(33, 30, 59, 0) 100%
//     //   );
//     //   background-image: -ms-linear-gradient(
//     //     90deg,
//     //     $white 0%,
//     //     rgba(33, 30, 59, 0) 100%
//     //   );
//     //   z-index: 1;
//     // }
//   }
//   .container{
//     width: 100%;
//     display: flex;
//     .content {
//       // position: absolute;
//       // left: 10%;
//       // top: 50%;
//       // transform: translateY(-50%);
//       // z-index: 2;
//       width: 50%;
//       color: $white;
//       margin-top: 30px;
//     }
//     .title h1 {
//       font-weight: 700;
//       color: black;
//       font-size: 72px;
//     }
//     .descript p {
//       font-size: 1.5rem;
//       display: inline-block;
//       color: black;
//     }
//     .btn-slide {
//       margin-top: 1rem;
//     }
//     a.btn-main {
//       background-color: $primary;
//       border: 1px solid $primary;
//       color: $white;
//       padding: 1rem;
//       border-radius: 4px;
//       text-transform: uppercase;
//       font-weight: 500;
//       margin-right: 1rem;
//       &.bg-transparent {
//         background-color: ($main, 0.5);
//         border: 1px solid $primary;
//         color: $primary;
//       }
//       .content-left{
//         width: 50%;
//         background: rgb(166, 145, 145);
//         .circle1{
//           width: 50px;
//           height: 50px;
//           background: #000;
//           color: red;
//         }
        
//       }
//     }
//   }
// }
