@import '../../variables/variables';

.welcome {
  height: 100%;
  margin-top: 1.5rem;
  .container {
    .page{
      display: flex;
      justify-content: center;
    }
    .pointer{
      cursor: pointer;
    }
  }
}
