@import "../../../../variables/variables";
.ad-blog-post{
  margin-top: 125px;
  .post-wrap{
    border: 2px solid $bg-light-gray;
    padding: 50px;
    .btn-wrap{
      .bus-link{
        margin-right: 1rem;
      }
      .bus-link,
      .con-link{
        color: $bg-light-gray;
        display: inline-block;
        background-color: $primary;
        padding: 9px 18px;
        line-height: 1;
        font-size: 14px;
        font-weight: 700;
        -webkit-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        margin-bottom: 20px;
      }
      .bus-link:hover,
      .con-link:hover{
        background-color: #2b8df8;
      }
    }
    .card{
      border: none;
      .custom-card-body{
        padding: 0;
        img{
          height: 450px;
          object-fit: cover;
          border-radius: 10px;
          width: 100%;
          margin-bottom: 30px
        }
        .post-meta{
          display: flex;
          align-items: center;
          flex-wrap: wrap;
          margin-bottom: 25px;
          .comment-meta,
          .post-date{
            a{
              color: #696969;
              font-weight: 700;
              font-size: 14px;
              line-height: 1;
              margin-right: 25px;
              .chat-icon,
              .calendar-icon{
                color: #696969;
                margin-right: 10px;
              }
            }
          }
        }
        .description{
          line-height: 32px;
          font-size: 17px;
          color: #696969;
        }
        .card-title{
          h3{
            font-weight: 700;
          }
        }
        .quote-container{
          .blog-quote{
            position: relative;
            background-color: $main;
            color: $bg-light-gray;
            font-size: 26px;
            line-height: 1.4;
            font-weight: 400;
            padding: 60px;
            text-align: left;
            margin: 40px 0px;
            z-index: 1;
            .quote-text{
              p{
                font-size: 26px;
                font-weight: 700;
                line-height: 34px;
                color: $bg-light-gray;
                margin-bottom: 20px;
              }
            }
          }
          img{
            position: absolute;
            width: 50px;
          }
        }
      }
    }
    .tag{
      strong{
        margin-right: 10px;
      }
      .tag-item{
        display: inline-block;
        padding: 11px 26px;
        line-height: 1;
        font-size: 14px;
        font-weight: 700;
        background: #EAE9F2;
        margin-right: 5px;
        margin-bottom: 8px;
        color: $main;
      }
      .tag-item {
        a:hover{
          color: #febc35;
          transition: .4s;
        }
      }
    }
    .response-post{
      margin-top: 40px;
      .comment-title{
        color: $main;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: -0.750316px;
        margin-bottom: 42px;
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .ad-blog-post{
    .post-wrap{
      padding: 10px;
      .card{
        .custom-card-body{
          .quote-container{
            .blog-quote{
              padding: 10px;
              .quote-text{
                p{
                  font-size: 17px;
                }
              }
            }
          }
        }
      }
    }
  }
}