@import "../../../../variables/variables";
.post-comment-form{
  .card {
    background-color: $bg-gray;
    .card-body {
      padding: 40px 40px 45px 40px;
      .form-wrap {
        .custom-input {
          height: 70px;
          padding: 0 30px;
          color: #696969;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 1.5;
        }

        .comment-form-cookies-consent {
          margin-bottom: 30px;

          .custom-checkbox {
            .custom-control-label {
              font-size: 16px;
              line-height: 1.5;
              display: contents;
            }
          }
        }
        .btn-submit {
          color: $bg-light-gray;
          padding: 5px 15px;
          border-radius: 0;
          border: none;
          cursor: pointer;
          transition: .3s;
          width: auto;
          font-weight: 500;
          font-size: 18px;
          line-height: 27px;
          letter-spacing: 0;
          min-width: 260px;
          min-height: 60px;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .post-comment-form{
    .card{
      .card-body{
        padding: 10px;
      }
    }
  }
}