@import "../../../../variables/variables";
.reply{
  .card{
    img{
      border-radius: 50% !important;
      object-fit: cover;
      width: 80px;
      height: 80px;
      float: left;
      margin-right: 17px;
      position: absolute;
      left: 0;
      top: 0;
    }
    .row{
      border-bottom: 1px solid #e2e2e2;
      margin-bottom: 2rem;
      .custom{
        padding: 0;
        .title-wrap {
          display: flex;
          margin-bottom: 21px;
          align-items: center;
          margin-top: 1rem;
          .card-title{
            margin-right: 11.5rem;
            h6 {
              font-size: 17px;
              margin: 0;
            }
            .reply-date{
              a{
                color: $primary;
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
              }
            }
          }
          .reply-btn-wrap{
            .reply-btn{
              position: relative;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              color: $main;
              border: 1px solid #b0cff2;
              padding: 8px 20px 8px 18px;
              text-transform: uppercase;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 4px;
            }
            .reply-btn:hover{
              background-color: $primary;
              color: $bg-light-gray;
              transition: .4s;
            }
          }
        }
        .col-xl-none{
          display: none;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .reply{
    .card{
      .row{
        .custom{
          .title-wrap{
            justify-content: space-between;
            .col-md-none{
              display: none;
            }
          }
          .col-xl-none{
            display: block;
            padding-top: 2rem;
            h6 {
              font-size: 17px;
              margin: 0;
            }
            .reply-date{
              a{
                color: $primary;
                font-weight: 600;
                font-size: 14px;
                line-height: 28px;
              }
            }
          }
          .description{
            margin-top: 2rem;
          }
        }
      }
    }
  }
}
