@import "../../../variables/variables";
.ad-contact-card{
  .row{
    .contact-box{
      background-color: #f8f8f8;
      border-radius: unset;
      padding: 40px 40px 40px 33px;
      height: 100%;
      .box-wrap{
        display: flex;
        justify-content: space-between;
        .icon-wrap{
          background-color:  #fff;
          line-height: 70px;
          height: 70px;
          width: 70px;
          border-radius: 100px 100px 100px 100px;
          margin: 0px 21px 0px 0px;
          text-align: center;
          .b-icon {
            font-size: 20px;
            color: $primary;
          }
        }
        .title-head{
          .title{
            color: $main;
            font-size: 20px;
            font-weight: 700;
            line-height: 1.272em;
          }
          .sub-title{
            color: #696969;
            font-size: 17px;
            font-weight: 400;
            line-height: 1.888em;
          }
        }
      }
      .contact-wrap{
        margin-top: 25px;
        p{
          color: #696969;
          font-size: 17px;
          font-weight: 400;
        }
      }
    }
    .contact-box:hover{
      background-color: #343a40;
      color: $bg-light-gray;
      transition: .4s;
      .box-wrap{
        .icon-wrap{
          background-color: $primary;
          .b-icon{
            color: $bg-light-gray;
          }
        }
        .title-head{
          .title{
            color: $bg-light-gray;
          }
          .sub-title {
            color: $bg-light-gray;
          }
        }
      }
      .contact-wrap {
        p {
          color: $bg-light-gray;
        }
      }
    }
  }
}
@media screen and (max-width: 1200px){
  .ad-contact-card .row .contact-box {
    padding: 30px 30px 30px 30px;
    .box-wrap {
      .title-head .title {
        line-height: 1em;
      }
      .icon-wrap {
        line-height: 50px;
        height: 50px;
        width: 50px;
      }
    }
  }
}
@media screen and (max-width: 992px){
  .ad-contact-card {
    .row {
      .contact-box{
        margin-top: 2rem;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .ad-contact-card .row .contact-box {
    padding: 13px 13px 13px 13px;
    .box-wrap {
      .title-head{
        .title {
          line-height: 1em;
          font-size: 16px;
        }
        .sub-title {
          font-size: 15px;
        }
      }
      .icon-wrap {
        line-height: 50px;
        height: 50px;
        width: 50px;
      }
    }
    .contact-wrap p {
      font-size: 14px;
    }
  }
}
@media screen and (max-width: 500px){
  .sy {
    padding-top: 0rem;
  }
  .ad-contact-card .row{ 
    .col-6{
      padding-right:5px;
      padding-left:5px;
      margin-top:-12px;
      .contact-box {
        .box-wrap {
          .title-head{
            .title {
              font-size: 15px;
            }
            .sub-title {
              font-size: 12px;
            }
          }
          .icon-wrap {
            line-height: 35px;
            height: 35px;
            width: 35px;
            margin: 0px 05px 0px 0px;
          }
        }
        .contact-wrap p {
          font-size: 13px;
        }
      }
    }
  }
}