@import "../../variables/variables";
.career-page{
    .section-career{
        .container{
            .form-gorup{
                .center{
                    margin-top:0.8rem;
                    padding:0 0.4rem;
                    .content-center{
                        border: none;
                        border-radius: 5px;
                        background-color: white;
                        box-shadow: -1px 2px 15px -4px rgba(197, 194, 194, 0.75);
                        -webkit-box-shadow: -1px 2px 15px -4px rgba(197, 194, 194, 0.75);
                        -moz-box-shadow: -1px 2px 15px -4px rgba(197, 194, 194, 0.75);
                        .box-content{
                            padding: 2rem;
                            .content{
                                .head-title{
                                    text-align: right;
                                    width: 100%;
                                    max-width: 100%;
                                }
                            }
                            .group {
                                .form-link{
                                    a.btn-main {
                                        padding: 0.7rem 1.5rem;
                                        font-weight: 600;
                                        margin-top: 0;
                                    }
                                } 
                            } 
                        }
                    }
                    // .content-center:hover{
                    //     border: none;
                    //     border-radius: 5px;
                    //     background-color: white;
                    //     box-shadow: -1px 2px 24px -4px rgba(159, 158, 158, 0.75);
                    //     -webkit-box-shadow: -1px 2px 24px -4px rgba(159, 158, 158, 0.75);
                    //     -moz-box-shadow: -1px 2px 24px -4px rgba(159, 158, 158, 0.75);
                    // }
                }
            }
        }
    }
}


@media only screen and (max-width: 992px) {
    .career-page .section-career .container .form-gorup .center .content-center .box-content {
        padding: 1rem;
        .group .form-link a.btn-main {
            padding: 0.5rem 1.5rem;
        }
        .head-title,
        .title{
            font-size: 1rem;
        }
        .descript{
            font-size: 0.8rem;
        }
        .main .content {
            p,
            .how-work,
            .location{
                font-size: 0.9rem;
            }
        }
    }

}
@media only screen and (max-width:480px) {
    .career-page .section-career .container .form-gorup .center .content-center .box-content .group{
        margin-top:1rem !important;
    }
}

