@import "../variables/variables";
.accordion-com{
  .accordion-one-row,.accordion-two-row{
    .accordion{
      color: $bg-light-gray;
      .accordion-item{
        background-color: #FFFFFF;
        border-style: solid;
        border-color: #FFFFFF;
        box-shadow: 0px 0px 1px 0px #fffbfb;
        border-radius: 5px 5px 0px 5px;
        .accordion-button{
          padding: 32px 20px 32px 20px;
          background: unset;
          border-bottom: none !important;
          h3{
            font-size: 18px;
            font-weight: 600;
            line-height: 24px;
            color: black;
          }
          h3:hover{
            color: $primary;
          }
        }
        .accordion-button:focus{
          box-shadow: none;
        }
        .accordion-button::after {
          background-image:  url('~@/assets/images/icon/add.png');
          transform: scale(.7) !important;
        }
        .accordion-button:not(.collapsed)::after {
          background-image:  url('~@/assets/images/icon/minus-sign.png');
        }
      }
    }
  }
  .accordion-two-row{
    .accordion{
      margin-top: 20px;
    }
  }
}