@import "../variables/variables";
.choose-us{
  background-color: #f9f9f8;
  position: relative;
  .choose-us-wrap{
    &.row{
      margin-right: 0px;
    }
    .col-img{
      background-repeat: no-repeat;
      img{
        width:100%;
      }
    }
    .col-content{
      .choose-container{
        padding: 5rem;
        .content{
          .small-title{
            color: $primary;
            font-size: 15px;
            font-weight: 700;
            text-transform: uppercase;
            line-height: 1em;
          }
          .big-title{
            color: $main;
            font-size: 42px;
            font-weight: 900;
            text-transform: capitalize;
            line-height: 1.19em;
            margin: 0px 0px 40px 0px;
          }
          .accordion{
            color: $bg-light-gray;
            .accordion-item{
              background-color: #FFFFFF;
              border-style: solid;
              border-color: #FFFFFF;
              box-shadow: 0px 0px 1px 0px #fffbfb;
              border-radius: 5px 5px 0px 5px;
              .accordion-button{
                padding: 1.5rem 1rem  ;
                background: unset;
                border-bottom: none !important;
                margin-top: 1rem;
                h3{
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 24px;
                  color: black;
                  margin-bottom: 0;
                }
                h3:hover{
                  color: $primary;
                }
              }
              .accordion-button:focus{
                box-shadow: none;
              }
              .accordion-button::after {
                background-image:  url('~@/assets/images/icon/add.png');
                transform: scale(.7) !important;
              }
              .accordion-button:not(.collapsed)::after {
                background-image:  url('~@/assets/images/icon/minus-sign.png');
              }
            }
          }
          .accordion-item :not(:first-child){
            margin-top: 1.5rem;
          }
        }
      
      }
    }
  }
}
@media (min-width: 1400px){
  .choose-container {
      max-width: 1320px;
  }
}
@media screen and (max-width: 1200px) {
  .choose-us .choose-us-wrap .col-content .choose-container{
    padding: 1rem;
    .content{
      .accordion .accordion-item .accordion-button{
        padding: 12px 20px 12px 20px;
      }
      .big-title {
        font-weight: 700;
        margin: 0px 0px 20px 0px;
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .choose-us .choose-us-wrap {
    .col-img {
      padding:0 5rem;
    }
    .col-content .choose-container {
      padding: 2rem 4rem;
      .content{
        .accordion .accordion-item .accordion-button{
          padding: 32px 20px 32px 20px;
        }
        .big-title {
          font-size: 35px;
          font-weight: 700;
          margin: 0px 0px 20px 0px;
        }
      }
    }
  }
}
@media screen and (width: 992px){
  .choose-us .choose-us-wrap {
    .col-img {
      padding:0rem;
    }
    .col-content .choose-container {
      padding: 1rem;
      .content{
        .accordion .accordion-item .accordion-button{
          padding: 12px 20px 12px 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 576px) {
  .choose-us .choose-us-wrap {
    .col-img {
      padding:0;
    }
    .col-content .choose-container {
      padding:2rem 0rem;
      .content{
        padding:1rem;
        .accordion .accordion-item .accordion-button{
          padding: 12px 20px 12px 20px;
        }
        .big-title {
          font-size: 25px;
         
        }
      }
    }
  }
}