@import '../variables/variables';
.testimonail-list{
  .testimonail{
    padding: 2rem;
    border-radius: 10px;
    border: 1px solid $bg-gray;
    .icon{font-size: 3rem;
      color: $primary;
    }
    .message p{
      font-size: 1.2rem;
      font-weight: 500;
      font-style: italic;
    }
    .info{
      display: flex;
      .image{
        height: 80px;
        width: 80px;
        border-radius: 50%;
        overflow: hidden;
        border: 1px solid #efefef;
      }
      .content{
        padding-left: 15px;
        width: calc(100% - 95px);
        .des{
          color: $primary;
        }
      }
    }
  }
  .swiper-container{
    padding-bottom: 4rem;
    &.client-list{
      padding-bottom: 0;
    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 4px;
  }
  .swiper-pagination-bullet{
    position: relative;
    width: 10px;
    height: 10px;
    &.swiper-pagination-bullet-active{
      
      &::after{
        position: absolute;
        content: '';
        top: 50%;
        left: 50%;
        border: 2px solid $primary;
        height: 18px;
        width: 18px;
        border-radius: 50%;
        transform: translate(-50%,-50%);
      }
    }
  }
  .client{
    border-radius: 10px;
    border: 1px solid $bg-gray;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 10%);
  }
}
  
@media only screen and (max-width: 768px) {
  .testimonail-list .testimonail{
    padding: .7rem;
    .icon{
      font-size: 2rem;
    }
    .message p{
      font-size: .9rem;
    }
    .info{
      display: flex;
      .image{
        width: 40px;
        height: 40px;
      }
      .content{
        padding-left: 7px;
        width: calc(100% - 47px);
        .des{
          font-size:.8rem;
        }
      }
    }
  }
}
@media only screen and (max-width: 576px){
  .testimonail-list .testimonail {
      padding: 0.5rem;
  }
}