@import '../../variables/variables';
.about{
    .s-about{
        .key-point{
            margin-bottom: 1rem;
            .item{
                display:flex;
                margin-bottom: 1rem;
                .image{
                    width: 80px;
                    height: 80px;
                    padding: 0.7rem;
                    background: #efefef;
                    border-radius: 4px;
                }
                .content{
                    width: calc(100% - 80px);
                    padding-left: 1rem;
                    p{
                        margin: 0;
                    }
                }
            }
        }
        .center-image{
            .content-center{
                .image{
                    .img-fluid{
                        border-radius: 20px;
                        margin-top: 2rem;
                    }
                }
            }
        }
    }
}



