@import "../../../variables/variables";
.card-post{
  .card{
    margin-top: 2rem;
    border-radius: unset;
    img{
      object-fit: cover;
      height: 500px;
      border-radius: 0px 0px 0px 0px;
      width: 100%;
    }
    .card-body{
      padding:0px;
      .card-title{
        padding: 1.5rem 0rem 0rem 3rem;
        h2{
          font-size: 36px;
          line-height: 130%;
          color: $main;
          font-weight: 700;
          margin-bottom: 20px;
        }
      }
      .post-meta{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding: 0rem 0rem 0rem 3rem;
        .comment-meta,
        .post-date{
          a{
            color: #696969;
            font-weight: 700;
            font-size: 14px;
            line-height: 1;
            margin-right: 25px;
            .chat-icon,
            .calendar-icon{
              color: #696969;
              margin-right: 10px;
            }
          }
        }
        .post-date{

        }
      }
      .card-text{
        padding: 1.5rem 0rem 0rem 3rem;
        p{
          a{
            margin-bottom: 30px;
            line-height: 32px;
            font-weight: 400;
            letter-spacing: 0;
            font-size: 17px;
            color: #696969;
            .arrow-right{
              font-weight: 900;
              margin-left: 10px;
            }
          }
        }
      }
    }
   .card-footer{
     background-color: unset;
     border-top: none;
     padding: 1.5rem 0rem 2rem 3rem;
     .profile{
       display: flex;
       align-items: center;
       .blog-author-meta{
         display: flex;
         align-items: center;
         .author-thumbnail{
           img{
             height: 40px;
             width: 40px;
             line-height: 40px;
             border-radius: 50%;
             background-color: #f2f2f2;
             overflow: hidden;
             background-position: center;
             background-size: cover;
           }
         }
         .blog-author-name{
           h5{
             margin-left: 20px;
             margin-bottom: 0;
             color: $main;
             font-weight: 600;
           }
         }
       }
     }
     .post-read-more{
       a{
         margin-left: 20px;
         margin-bottom: 0;
         color: $main;
         font-weight: 600;
         font-size: 18px;
       }
     }
   }
  }
}
@media screen and (max-width: 430px){
  .card-post {
    .card {
      .card-footer{
        padding: 1rem;
        .profile{
          flex-direction: column;
          .post-read-more{
            margin-top: 2rem;
          }
        }
      }
    }
  }
}