@import "../../../variables/variables";
.ad-category-box{
  .category-box{
    margin-top: 2rem;
    background: #fff;
    box-sizing: border-box;
    border-radius: 0;
    padding: 30px 30px 30px 30px;
    border: 2px solid #ededed;
    .title-wrap{
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      .icon{
        display: flex;
        color: $primary;
        font-size: 26px;
      }
      .title{
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0;
        color: $main;
        position: relative;
        padding-left: 14px;
      }
    }
    .category-item{
      background: #fff;
      box-sizing: border-box;
      margin-bottom: 10px;
      .item-wrap{
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 15px 30px 15px 30px;
        background: #f8f8f8;
        margin-bottom: 10px;
        span{
          color: $main;
          position: absolute;
          width: 60px;
          line-height: 53px;
          height: 100%;
          content: "";
          background-color: #e3e3e3;
          right: 0;
          top: 0;
          text-align: center;
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
  }
}