@import "../../../variables/variables";
.ad-search-box{
  .search-box{
    margin-top: 2rem;
    background: #fff;
    box-sizing: border-box;
    border-radius: 0;
    padding: 30px 30px 30px 30px;
    border: 2px solid #ededed;
    .title-wrap{
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      .icon{
        display: flex;
        color: $primary;
        font-size: 26px;
      }
      .title{
        font-weight: bold;
        font-size: 22px;
        line-height: 32px;
        letter-spacing: 0;
        color: $main;
        position: relative;
        padding-left: 14px;
      }
    }
    form{
      display: flex;
      flex: auto;
      flex-wrap: nowrap;
      max-width: 100%;
      input{
        border: 1px solid rgb(0 0 0 / 10%);
        padding: 1rem;
        border-radius: 10px;
        min-width: 3rem;
        margin-right: 10px;
      }
      .btn{
        background: #f7f7f7;
        border: 1px solid #ccc;
        padding: 0.375em 0.625em;
        color: #32373c;
        margin-left: 0.625em;
      }
    }
  }
}