@import '../variables/variables';
section.portfolio-list {
  background: $bg-gray;
  .nav-tabs {
    // justify-content: flex-end;
    border: none;
    .nav-link {
      border: 1px solid $bg-gray;
      // margin-left: 1rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
      padding: 0.7rem 1rem;
      border-radius: 4px;
      background-color: $white;
      color: $main;

      box-shadow: 0px 10px 60px 0px rgb(121 121 121 / 45%);
      &.active {
        background-color: $primary;
        color: $white;
      }
    }
  }
  .nav-project .col-6{
    margin-bottom: 1.5rem;
  }
  .project {
    border: 1px solid #d9d9d9;
    overflow: hidden;
    border-radius: 7px;
    .image img {
      border-radius: 4px 4px 0 0;
    }
    .info {
      border-radius: 0 0 4px 4px;
      padding: 0.7rem;
      background-color: $white;
    }
    .client strong {
      font-size: 1rem;
      color: #737373;
    }
  }
}
@media only screen and (max-width: 992px) {
  // section.portfolio-list .nav-tabs{
  //    justify-content: center;
  // }
}

@media only screen and (max-width: 768px) {
  section.portfolio-list {
    .project {
      .info {
        padding: 0.5rem;
      }
      .client strong {
        font-size: 0.8rem;
      }
      a.btn-main {
        margin-top: 0;
      }
    }
    .nav-tabs .nav-link {
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
      padding: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
@media only screen and (max-width: 576px) {
  section.portfolio-list .nav-project .row{
    --bs-gutter-x: .5rem;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    .col-6{
        margin-bottom: .5rem;
    }
  }
}
