@import '../variables/variables';
.service-page{
  .service-list{
    padding-top: 5rem;
    padding-bottom: 12rem;
    margin-bottom: -10rem;
  }
}
.service-progress {
  padding-top: 12rem;
  background-color: $bg-gray;
  .video {
    padding-left: 6rem;
    position: relative;
    .btn-play {
      width: 200px;
      height: 200px;
      border: 10px solid $white;
      border-radius: 50%;
      position: absolute;
      left: 0;
      bottom: 10%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      .play {
        width: 50px;
        height: 50px;
        display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: $main;
    color: $white;
    z-index: 1;
      }
      &::before{
            content: "";
            background: $main;
            height: 100%;
            width: 100%;
            opacity: 0.5;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: 0;
      }
    }
  }
}
.modal-dialog.modal-md{
  max-width: 1300px;
}
@media only screen and (max-width: 992px) {
  .service-page {
    .service-list{
      padding-top: 2rem;
    }
  }
}
@media only screen and (max-width: 576px) {
  .service-page .service-list{
    margin-bottom: 0;
  }
}


