@import "../../variables/variables";
.blog{
  .blog-post{
    padding-top: 125px;
    .container{
      .empty-box,
      .category-box,
      .popular-tag{
        margin-top: 2rem;
        background: #fff;
        box-sizing: border-box;
        border-radius: 0;
        padding: 30px 30px 30px 30px;
        border: 2px solid #ededed;
      }
    }
  }
  .paginations{
    .container{
      .pagination{
        margin-top: 2rem;
        margin-left: 200px;
      }
    }
  }
}
@media screen and (max-width: 992px){
  .blog {
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 768px){
  .blog {
    .paginations {
      .container {
        .pagination {
          margin-left: 0;
        }
      }
    }
  }
}